<!--<div class = "subject col-md-6">-->
<!--  <p>「想い」を「言葉」に<br>してみよう</p>-->
<!--  <div class = 'buttom'>-->
<!--    <%= link_to 'ログインする', new_monologue_path, class: 'btn btn-info lg link_to' %>-->
<!--  </div>-->
<!--</div>-->
<div class = "top_img">
    <%= image_tag "background.jpg", class: 'image_area' %>
    <div class = "explanation">
      <p>モノローグを使って
         <br>１４０個の文字であなたの「ひとりごと」を書き起こしてみよう
      </p>
      <%= link_to 'ひとりごとを書く', new_monologue_path, class: 'btn btn-primary lg link_to' %>
    </div>
</div>